.endl{
    margin-top: 30px;
    background: rgba(255, 230, 210, 1);
}
.endl-box{
    display: flex;
    align-items: center;
    gap: 40px;
}
.endl-link{
    color: rgb(41, 41, 41);
    text-decoration: none;
}